.DegreePlanList {
    width: calc(50% + 2vmin);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.semester-scroll-box {
    max-height: calc(100% + 2vmin);
    max-width: calc(100% + 2vmin);
    height: calc(50% + 2vmin);
    width: calc(75% + 2vmin);
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
}

.semester-box-length {
    min-width: calc(40% + 2vmin);
}

.semester-box-height {
    min-height: calc(100px + 20vmin);
    /* min-height: 200px; */
}

.semester-add-form {
    height: calc(25% + 2vmin);
    width: calc(40% + 2vmin);
    margin: 0 auto;
}
