.DegreePlanList {
    width: calc(50% + 2vmin);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dropdown-border {
    border: 3px solid #00539f;
}

.semester-scroll-box {
    max-height: calc(100% + 2vmin);
    max-width: calc(100% + 2vmin);
    height: calc(50% + 2vmin);
    width: calc(75% + 2vmin);
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
}

.semester-box-length {
    min-width: calc(40% + 2vmin);
}

.semester-box-height {
    min-height: calc(100px + 20vmin);
    /* min-height: 200px; */
}

.semester-add-form {
    height: calc(25% + 2vmin);
    width: calc(40% + 2vmin);
    margin: 0 auto;
}

.plan-form {
    width: calc(40% + 2vmin);
    margin: 0 auto;
}

.course-draggable {
    background-color: white;
    /* width: calc(30% + 2vmin); */
    margin: 10px;
    border-bottom: 4px solid #00539f;
}

.droppable-area {
    border: 3px solid #00539f;
    background-color: rgb(224, 234, 253);
    min-height: calc(210px + 20vmin);
    max-height: calc(210px + 20vmin);
    width: calc(75% + 2vmin);
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.droppable-component {
    min-height: calc(100px + 20vmin);
}

.collapsible {
    background-color: #00539f;
    color: #ffffff;
    border: 2px solid lightgoldenrodyellow;
}

.modalFull .modal-content {
    background: #00539f;
    border: 3px solid lightgoldenrodyellow;
}
.modalHead {
    color: #ffffff;
    border: 3px solid lightgoldenrodyellow;
}
.modalBody {
    color: #ffffff;
    border: 3px solid lightgoldenrodyellow;
}
.modalFoot {
    color: #ffffff;
    border: 3px solid lightgoldenrodyellow;
}
.modal-section {
    padding-bottom: calc(1% + 2vmin);
    border-bottom: 2px solid #a3b0ba;
}

.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
    width: calc(75% + 2vmin);
    padding-top: calc(0.5% + 2vmin);
    padding-bottom: calc(0.5% + 2vmin);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.alert-hidden {
    opacity: 0;
    transition: all 250ms linear 3s;
    width: calc(75% + 2vmin);
    padding-top: calc(0.5% + 2vmin);
    padding-bottom: calc(0.5% + 2vmin);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
