.App {
    text-align: center;
    background-color: rgb(238, 200, 95);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    width: 100%;
    background-color: #00539f;
    height: calc(70% + 2vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-header-title {
    font-size: calc(10px + 7vmin);
}

.App-header-subtitle {
    font-size: calc(1px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.App-subheader {
    border: 3px solid #00539f;
    padding: 3px;
    background-color: rgb(243, 242, 228);
}

.current-view {
    /* border-left: calc(5px + 4vmin) solid #00539f;
    margin-left: -20px;
    border-right: calc(5px + 4vmin) solid #00539f;
    margin-right: -20px; */
    border-bottom: calc(10px + 4vmin) solid #00539f;
    padding-bottom: calc(8% + 2vmin);
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    border-color: rgb(50, 112, 255);
    border-width: calc(1px + 0.2vmin);
    background-color: rgb(207, 222, 253);
    font-weight: 600;
}

.btn-primary:disabled {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(103, 96, 111);
    border-color: rgb(165, 145, 255);
    border-width: calc(1px + 0.2vmin);
    background-color: rgb(206, 202, 213);
    font-weight: 600;
}

.btn-danger {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    border-color: rgb(219, 82, 82);
    border-width: calc(1px + 0.2vmin);
    background-color: rgb(247, 217, 193);
    font-weight: 600;
}

.btn-danger:disabled {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(103, 96, 111);
    border-color: rgb(255, 198, 145);
    border-width: calc(1px + 0.2vmin);
    background-color: rgb(213, 211, 202);
    font-weight: 600;
}

.btn-success {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    border-color: rgb(70, 163, 58);
    border-width: calc(1px + 0.2vmin);
    background-color: rgb(232, 243, 169);
    font-weight: 600;
}

.btn-success:disabled {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(103, 96, 111);
    border-color: rgb(145, 255, 187);
    border-width: calc(1px + 0.2vmin);
    background-color: rgb(202, 212, 213);
    font-weight: 600;
}

.name-signatures {
    padding-top: calc(10px + 2vmin);
}

img {
    width: calc(20% + 2vmin);
    height: auto;
}

.plan-view-section-mid {
    padding-top: 4%;
    padding-bottom: 8%;
    border-bottom: 2px solid #8e9ca8;
    border-top: 2px solid #8e9ca8;
}

.plan-view-section {
    padding-top: 2%;
    padding-bottom: 5%;
}
